<div id="values" class="why-us section-bg">
    <div class="container">

      <div class="row no-gutters">
        
        <div class="section-title" data-aos="fade-up">
        <h2>NOS VALEURS</h2>
        </div>

        
    <div class="container-fluid" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

          <div class="content">
            <h3>VOTRE <strong>EXPERT CONSULTANT</strong> EN TUNISIE</h3>
            <p>
              Notre cabinet s'engage sur les valeurs d'éthique, de confidentialité, d'indépendance, de transparence, d'innovation et de disponibilité en les intégrant dans nos procédures internes qui se traduisent par l'engagement formel de nos collaborateurs.
            </p>
          </div>

          <div class="accordion-list">
            <ul>
              <li>
                <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Éthique <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                  <p>
                    Notre cabinet s’engage à garantir que les services rendus aux clients sont exécutés conformément aux règles d’éthique et de déontologie généralement admises.
                  </p>
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Confidentialité <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Notre cabinet veille au respect du secret professionnel et à la protection des informations confidentielles de nos clients, tant à l’intérieur qu’à l’extérieur du cabinet.
                  </p>
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Indépendance <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    L'indépendance est un des fondamentaux de notre statut professionnel.
                  </p>
                </div>
              </li>
              
              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-4" class="collapsed"><span>04</span> Transparence <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    La transparence exige que nous soyons vrais et sincères et que nous soyons capables de justifier nos choix et nos actions. Nous mettons à votre disposition des informations claires et argumentées pour répondre à toutes vos questions afin que vous puissiez exploiter les réponses.                    </p>
                </div>
              </li>
              
              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-5" class="collapsed"><span>05</span> Innovation <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-5" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Parce que chaque client est unique, nous souhaitons repousser les limites de nos connaissances, de nos méthodologies et de notre créativité afin de proposer en permanence une offre de services innovante et différente, capable de répondre aux attentes et aspirations de chacun.                    </p>
                </div>
              </li>
              
              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-6" class="collapsed"><span>06</span> Disponibilité <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-6" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Être disponible, à l'écoute de vos besoins afin de pouvoir traiter professionnellement et dans les plus brefs délais vos demandes et vos dossiers est la valeur standard du véritable engagement des équipes de BMB ACCOUNTING & CONSULTING à vos côtés.                    </p>
                </div>
              </li>

            </ul>
          </div>

        </div>

        <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/img/a.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
      </div>

    </div>
</div>
    