   <!-- ======= serv1 ======= -->
   <section id="departments" class="departments">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>SERVICES</h2>
        <p>Il est essentiel pour nous, SIA ACCOUNTING & CONSULTING, de proposer des services représentant une valeur ajoutée concrète aux yeux de nos clients.<br>
          Avec notre connaissance à forte valeur ajoutée, nous vous accompagnons tout au long de la vie de votre entreprise, de sa création à sa transmission, et serons votre conseiller en affaires, contribuant à assurer le succès de vos projets. <br>
          Grâce à notre approche personnalisée, multidisciplinaire et multisectorielle, nous proposons une gamme complète de services en matière comptable, financière, fiscale, juridique et administrative.
        <p>
      </div>
      <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-4 mb-5 mb-lg-0">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
                  <h4>Comptabilité & Finance</h4>
            
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
                  <h4>Services Fiscaux</h4>
           
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
                  <h4>Services Juridiques</h4>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
                  <h4>Services administratifs</h4>
                </a>
              </li>
            </ul>
          </div>



          <div class="col-lg-8">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <h3>Comptabilité & Finance</h3>
            <ul>
              <li><i class="bi bi-check"></i> Tenue de la comptabilité générale.</li>
              <li><i class="bi bi-check"></i> Tenue des livres de comptabilité légale.</li>
              <li><i class="bi bi-check"></i> Tenue de la comptabilité analytique.</li>
              <li><i class="bi bi-check"></i> Préparation des états financiers.</li>
              <li><i class="bi bi-check"></i> Assistance et supervision comptable.</li>
              <li><i class="bi bi-check"></i> Statutory Auditors.</li>
              <li><i class="bi bi-check"></i> Audit and due diligence.</li>
              <li><i class="bi bi-check"></i> Business plan development.</li>
              <li><i class="bi bi-check"></i> Assistance with bank credit files.</li>
              <li><i class="bi bi-check"></i> Organization and implementation of procedures.</li>
              <li><i class="bi bi-check"></i> Business valuation.</li>
              <li><i class="bi bi-check"></i> Business merger / demerger.</li>
            </ul>
              </div>
              <div class="tab-pane" id="tab-2">
                <h3>Services Fiscaux</h3>
            <ul>
              <li><i class="bi bi-check"></i> Support for companies in terms of compliance with Tunisian Tax Law.</li>
              <li><i class="bi bi-check"></i> Assistance in compliance with international tax treaties.</li>
              <li><i class="bi bi-check"></i> Preparation of various tax declarations.</li>
              <li><i class="bi bi-check"></i> Optimization of the tax result.</li>
              <li><i class="bi bi-check"></i> Assistance in the event of a tax administration audit.</li>
              <li><i class="bi bi-check"></i> Audit of the tax situation.</li>
              
              
            </ul>
              </div>
              <div class="tab-pane" id="tab-3">
                <h3>Services Juridiques</h3>
            <ul>
              <li><i class="bi bi-check"></i> Completion of company incorporation formalities with the various administrations.</li>
              <li><i class="bi bi-check"></i> Support for foreign companies in terms of compliance with Tunisian laws and regulations.</li>
              <li><i class="bi bi-check"></i> Corporate law consultancy.</li>
              <li><i class="bi bi-check"></i> Commercial law consultancy.</li>
              <li><i class="bi bi-check"></i> Advice on labor law and Social Security.</li>
              <li><i class="bi bi-check"></i> Foreign exchange law advice.</li>
              <li><i class="bi bi-check"></i> Drafting of articles of association, Minutes and other acts and documents.</li>
              <li><i class="bi bi-check"></i> Completion of legal formalities relating to General Meetings.</li>
              <li><i class="bi bi-check"></i> Keeping of regulatory records.</li>
              <li><i class="bi bi-check"></i> Formalities relating to the Central Bank of Tunisia.</li>
              <li><i class="bi bi-check"></i> Formalities relating to Tunisian Customs.</li>
              
            </ul>
              </div>
              <div class="tab-pane" id="tab-4">
                <h3>Services Administratifs </h3>
            <ul>
              <li><i class="bi bi-check"></i> Domiciliation.</li>
              <li><i class="bi bi-check"></i> Preparation of pay slips.</li>
              <li><i class="bi bi-check"></i> Establishment of social declarations.</li>
              <li><i class="bi bi-check"></i> Recruitment assistance.</li>
              <li><i class="bi bi-check"></i> Drafting of employment contracts.</li>
              <li><i class="bi bi-check"></i> Assistance during labor or social security inspection control.</li>
              <li><i class="bi bi-check"></i> Obtaining work certificates for expatriates.</li>
              <li><i class="bi bi-check"></i> Accounting training.</li>
              <li><i class="bi bi-check"></i> Tax training.</li>
              
            </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- serv1 Section -->
