<div class="container">
    <form  >
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
      
        <label for="confirmPassword">Confirm New Password:</label>
        <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
      
        <button (click)="onSubmit()" type="submit">Reset Password</button>
      </form>
</div>
<div *ngIf="error" class="error">{{ error }}</div>

