<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row   flex-custom no-gutters">
        <div class="col-lg-6 col-6  video-box">
          <img width="40%" src="assets/img/f.png" class="img-fluid"  alt="">
          
        </div> 

        <div class="col-lg-6 col-6 d-flex flex-column justify-content-center about-content">

          <div class="section-title">
            <h2>Qui Sommes nous ?</h2>
            <p>Société internationale d'assistance SIA, est un cabinet d'expertise comptable creé en 2006 dirigé par Monsieur Aymen ben mabrouk , Comptable inscrit à la Compagnie des Comptables Tunisiens, exerce dans les domaines de la comptabilité et du conseil aux entreprises.</p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-cash-coin"></i></div>
            <h4 class="title"><a href=#services>Accounting :</a></h4>
            <p class="description">Assistance et tenue de livres, Consolidation des comptes, Gestion de la paie, Etude de projet, Mise en place de la comptabilité analytique, Mise en place du système de contrôle de gestion, Externalisation de l'audit interne.</p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-headset"></i></div>
            <h4 class="title"><a href=#services>Consulting:</a></h4>
            <p class="description">Constitution, fusion, liquidation des entreprises, Optimisation fiscale, Accompagnement lors de contrôles fiscaux, Organisation des entreprises (manuel deprocédures,manuel comptable, etc...), Evaluation et transmission des entreprises, Diagnostic de mise à niveau.</p>
          </div>

        </div>
      </div>

    </div>
  </section>