<div class="container">
    <div *ngIf="actualities.length > 0">
      <div class="row">
        <figure class="snip1493 col-4" *ngFor="let item of actualities">
          <div class="image">
            <img [src]="item.file" alt="ls-sample1" />
          </div>
          <figcaption>
            <div class="date"><span class="day">28</span><span class="month">Oct</span></div>
            <h3>{{ item.title }}</h3>
            <p>{{ item.description }}</p>
            <footer>
              <div class="views">Created By: Admin</div>
            </footer>
          </figcaption>
          <a [routerLink]="['/blog', item._id]"></a>
        </figure>
      </div>
    </div>
    <div *ngIf="actualities.length === 0 && isLoading" class="loading-spinner">
     </div>
  </div>