<section id="hero">
    <div class="hero-container">
      <owl-carousel-o [options]="customOptions">
        <!-- Slide 1 -->
        <ng-template carouselSlide  >
            <div class="carousel-item active" style="background-image: url('assets/img/slide/slide-4.jpg');">
                <div class="carousel-container">
                  <div class="carousel-content container">
                    <h2 class="animate__animated animate__fadeInDown"> Développez votre entreprise</h2>
                    <p class="animate__animated animate__fadeInUp">La compétence technique et l'expérience professionnelle de notre entreprise nous permettent de proposer des prestations de haute qualité et de réaliser nos missions dans les meilleures conditions possibles et représentent une garantie de la fiabilité de nos travaux. De plus, notre proximité constitue un atout non négligeable pour la réussite de notre mission.</p>
                    <a   class="btn-get-started animate__animated animate__fadeInUp scrollto">Prendre un RDV</a>
                  </div>
                </div>
              </div>
        </ng-template>
  
        <!-- Slide 2 -->
        <ng-template carouselSlide  >
            <div class="carousel-item active " style="background-image: url('assets/img/slide/slide-2.jpg');">
                <div class="carousel-container">
                  <div class="carousel-content container">
                    <h2 class="animate__animated animate__fadeInDown"> Services comptables de la meilleure qualité </h2>
                    <p class="animate__animated animate__fadeInUp">Une approche pratique, efficace et efficiente basée sur une planification détaillée et du professionnalisme. Notre objectif est de répondre aux demandes de nos clients en fournissant des services de haute qualité dans les délais.</p>
                    <a   class="btn-get-started animate__animated animate__fadeInUp scrollto">Prendre un RDV</a>
                  </div>
                </div>
              </div>
        </ng-template>
  
        <!-- Slide 3 -->
        <ng-template carouselSlide  >
            <div class="carousel-item active" style="background-image: url('assets/img/slide/slide-3.jpg');">
                <div class="carousel-container">
                  <div class="carousel-content container">
                    <h2 class="animate__animated animate__fadeInDown">Nous agissons aux côtés de nos clients pour une meilleure expérience</h2>
                    <p class="animate__animated animate__fadeInUp">La mobilisation d'une équipe de professionnels hautement qualifiés, dotés d'une connaissance approfondie et d'une vaste expérience acquise dans le cadre d'interventions d'audit, d'assistance et de conseil auprès d'entreprises tunisiennes et étrangères dans plusieurs secteurs d'activité..</p>
                    <a  class="btn-get-started animate__animated animate__fadeInUp scrollto">Prendre un RDV</a>
                  </div>
                </div>
              </div>
    
        </ng-template>
      </owl-carousel-o>
    </div>
  </section>
  