<div class="middle">
    <div class="sign-column-face s2">
      <div class="s3">
        <div class="sign-header-section">
          <div class="sign-in-title">
          </div>
        </div>
        <div class="sign-buttons">
          <img width="160" height="90" src="../../assets/logo.jpg" alt="google-logo" />
        </div>
        <form class="input-container" *ngIf="!message">
          <input type="email" [(ngModel)]="email" name="email" required placeholder="Email">
          <button (click)="submit()">Send</button>
          <div href="#" class="alt-f-full">
            back to <a routerLink="/signup" class="alt-f">Sign up</a>
          </div>
        </form>
        <div *ngIf="message" class="message">{{ message }}</div>  
      </div>
    </div>
  </div>
  