<section id="Contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contactez Nous</h2>
      </div>

      <div class="row">

        <div class="col-lg-6 d-flex" data-aos="fade-up">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>Notre Address</h3>
            <p>Rue salem bchir, immeuble jaafoura 5000 monastir. </p>
          </div>
        </div>

        <div class="col-lg-3 d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Email</h3>
            <p>{{email}}</p>
          </div>
        </div>

        <div class="col-lg-3 d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="info-box ">
            <i class="bx bx-phone-call"></i>
            <h3>Tél</h3>
            <p>+216 73 461 199</p>
          </div>
        </div>
        <section  class="cta">
   
          <div class="container" data-aos="zoom-in"  >
    
            <div class="text-center">
              <h3>Besoins d'une consultation ?</h3>
              <p>  Nous comprenons l'importance d'une gestion financière efficace pour assurer le succès de votre entreprise. Nos experts en comptabilité sont là pour vous offrir des conseils personnalisés et des solutions adaptées à vos besoins.</p>
              <a class="cta-btn"  (click)="takeARdv()">Prendre un RDV</a>
            </div>
    
          </div>
        </section>
        

      </div>

    </div>
  </section> 