<article class="blog-post" >
    <header class="post-header">
        <div class="post-meta">
            <span class="post-date">{{actuality.createdAt | date:'mediumDate'}}</span>
            <span class="post-author">by Admin</span>
        </div>
        <h1 class="post-title">{{actuality.title}}</h1>
        <p class="post-subtitle">{{actuality.subtitle}}</p>
    </header>
    <div class="post-image-container">
        <img [src]="actuality.file" alt="Blog post image" class="post-image">
    </div>
    <div class="post-content">
        <p>{{actuality.description}}</p>
    </div>
    <footer class="post-footer">
        <div class="post-tags">
            <span class="tag" *ngFor="let tag of actuality.tags">{{tag}}</span>
        </div>
         
    </footer>
</article>